/_dump
/node_modules
/public/build
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.json
composer.lock
env
*.zip
/public/assets/files/email-system-temp/
/public/assets/images/customer-sheet/
/public/assets/files/customer-sheet/
/public/assets/images/board-list-card/
json-formatter.json
/public/assets/files/board-list-card/original
/public/assets/images/wire-payments
/public/assets/images/board-list-card
/public/assets/images/leads
/public/assets/images/profile_images/admin
/public/assets/images/profile_images
