* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.env text eol=lf
*.json text eol=lf
*.txt text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
